<!DOCTYPE html>
<html>
{% include head.html %}
<div class="container">
    {% include navi.html %}
    {% include header.html %}
    <section class="main clearfix">
        <main class="content float-left">
            {{ content }}
        </main>
        {% include table-of-recent-articles.html %}
    </section>
    {% include footer.html %}
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
    {% include scripts.html %}
</div>
</html>